<template name="footer">
  <footer id="footer" class="footer">
		<div class="row">
      <div class="col-sm-12">
        <form>
          <div class="flex-container">
            <div class="col-sm-8 form-group" style="padding:0;margin:0;">
    		      <input type="text" placeholder="Registration Number" id="reg_no">
            </div>
            <div class="col-sm-4" style="padding:0;margin:0;">
              <div class="col-xs-12" style="padding:0;margin:0;">
                <select id="select" class="form-control">
                    <option value="None" class="option">None</option>
                    <option value="Aditya" class="option">Aditya</option>
                    <option value="Alilo" class="option">Alilo</option>
                    <option value="Antilla" class="option">Antilla</option>
                    <option value="DeeYae" class="option">DeeYae</option>
                    <option value="Design-a-holic" class="option">Design-a-holic</option>
                    <option value="Dubakurs" class="option">Dubakurs</option>
                    <option value="Kosha" class="option">Kosha</option>
                    <option value="KS" class="option">KS</option>
                    <option value="Nemesis" class="option">Nemesis</option>
                    <option value="Playlists" class="option">Playlists</option>
                    <option value="Spinzzers" class="option">Spinzzers</option>
                    <option value="Wonders" class="option">Wonders</option>
                    <option value="Worst Team Ever" class="option">Worst Team Ever</option>
                </select>
              </div>
              <div class="col-xs-12 text-center" style="padding:0;margin:0;">
                <button id="submit">Cast Vote</button>
              </div>
            </div>
          </div>
        </form>
      </div>
		</div>
	 </footer>
</template>
