<template name="footer">
  <footer id="footer" class="footer">
		<div class="row">
      <div class="col-sm-12">
        <form>
          <div class="flex-container">
            <div class="col-sm-8 form-group" style="padding:0;margin:0;">
    		      <input type="text" placeholder="Registration Number" id="reg_no">
            </div>
            <div class="col-sm-4" style="padding:0;margin:0;">
              <div class="col-xs-12" style="padding:0;margin:0;">
                <select id="select" class="form-control">
                    <option value="None" class="option">None</option>
                    <option value="Entry 01" class="option">Entry 01</option>
                    <option value="Entry 02" class="option">Entry 02</option>
                    <option value="Entry 03" class="option">Entry 03</option>
                    <option value="Entry 04" class="option">Entry 04</option>
                    <option value="Entry 05" class="option">Entry 05</option>
                    <option value="Entry 06" class="option">Entry 06</option>
                    <option value="Entry 07" class="option">Entry 07</option>
                    <option value="Entry 08" class="option">Entry 08</option>
                    <option value="Entry 09" class="option">Entry 09</option>
                    <option value="Entry 10" class="option">Entry 10</option>
                    <option value="Entry 11" class="option">Entry 11</option>
                    <option value="Entry 12" class="option">Entry 12</option>
                    <option value="Entry 13" class="option">Entry 13</option>
                    <option value="Entry 14" class="option">Entry 14</option>
                    <option value="Entry 15" class="option">Entry 15</option>
                    <option value="Entry 16" class="option">Entry 16</option>
                    <option value="Entry 17" class="option">Entry 17</option>
                    <option value="Entry 18" class="option">Entry 18</option>
                    <option value="Entry 19" class="option">Entry 19</option>
                    <option value="Entry 20" class="option">Entry 20</option>
                </select>
              </div>
              <div class="col-xs-12 text-center" style="padding:0;margin:0;">
                <button id="submit">Cast Vote</button>
              </div>
            </div>
          </div>
        </form>
      </div>
		</div>
	 </footer>
</template>
